/******************************************************************************
TIP: Get started creating your own theme here

- Set values for the main site variables for properties like fonts and colors
- You can also add any style rules you like

- Make sure you have `custom-theme` in settings.json theme property
- (Update it if you changed the CSS file name)
******************************************************************************/

:root {
  --font-family: Meiryo, Arial, sans-serif;
  --font-family-header: Meiryo, Arial, sans-serif;
  --font-family-list: Meiryo, Arial, sans-serif;
  --color-bg: white;
  --color-bg-alt: black;
  --color-text-main: black;
  --color-primary: black;
}

.gallery .image-card {
  border: 1px solid #66ccff;
  border-radius: 10px;
  overflow: hidden;
}

.image-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.image-card.small {
  display: inline-flex;
  width: 48%;
  box-shadow: none;
}

.image-card img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.image-credit {
  background-color: #55aadd;
  margin: 0;
}

.image-credit a:not(.btn--remix):link, .image-credit a:not(.btn--remix):visited {
    text-decoration: none;
    border-bottom: 0px;
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 10px; 
    text-decoration: underline;
    text-underline-position: under;
    transition: background 0.2s linear;
}
