/******************************************************************************
TIP: Get started creating your own theme here

- Set values for the main site variables for properties like fonts and colors
- You can also add any style rules you like

- Make sure you have `custom-theme` in settings.json theme property
- (Update it if you changed the CSS file name)
******************************************************************************/

:root {
  --font-family: Meiryo, Arial, sans-serif;
  --font-family-header: Meiryo, Arial, sans-serif;
  --font-family-list: Meiryo, Arial, sans-serif;
  --color-bg: #665522;
  --color-bg-alt: white;
  --color-text-main: white;
  --color-primary: pink;
}

/* Add your style rules! */
