/******************************************************************************
TIP: Get started creating your own theme here

- Set values for the main site variables for properties like fonts and colors
- You can also add any style rules you like

- Make sure you have `custom-theme` in settings.json theme property
- (Update it if you changed the CSS file name)
******************************************************************************/

:root {
  --font-family: Meiryo, Arial, sans-serif;
  --font-family-header: Meiryo, Arial, sans-serif;
  --font-family-list: Meiryo, Arial, sans-serif;
  --color-bg: white;
  --color-bg-alt: black;
  --color-text-main: black;
  --color-primary: black;
}

div.gallery img {
  max-width: 100%;
  display: inline-block;
  border: 1px solid;
  border-radius: 10px;
}
/* Add your style rules! */
